<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <header class="bg-gradient-to-r from-blue-800 to-indigo-800">
    <nav class="px-8 py-6">
      <div>Lenslocked</div>
      <div>
        <a href="/">Home</a>
        <a href="/contact">Contact</a>
        <a href="/faq">FAQ</a>
      </div>
      <div>
        <a href="#">Sign in</a>
        <a href="#">Sign up</a>
      </div>
    </nav>
  </header>
  {{template "page" .}}
  <footer class="block text-xl text-center py-3">© Zwe Nyan Zaw</footer>
</body>
</html>
