<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  {{template "page" .}}
  <footer class="block text-xl text-center py-3">© Zwe Nyan Zaw</footer>
</body>
</html>
